<!-- Navigation -->
<nav class="main-nav op-nav menu-light menu-transparent js-transparent">
    <div class="container">
        <div class="navbar">

            <div class="brand-logo">
                <a class="navbar-brand" href="#">
                    <img src="{{ site.logo }}" alt="{{ site.title }}">
                </a>
            </div>
            <!-- brand-logo -->

            <div class="navbar-header">
                <div class="inner-nav right-nav">
                    <ul>
                        {% comment %} <li>
                            <a href="#/" class="ti-search" id='search-trigger'></a>
                        </li> {% endcomment %}

                        <li class="navbar-toggle">
                            <button type="button" data-toggle="collapse" data-target=".collapse">
                                <span class="sr-only"></span>
                                <i class="ti-menu"></i>
                            </button>
                        </li>
                        <!-- /collapse-menu -->

                    </ul>
                    {% comment %} <form action='#' id='search' method='get'>
                        <div class="input">
                            <div class="container">
                                <input class="search" placeholder='Search...' type='text'>
                                <button class="submit ti-search" type="submit" value="close"></button>
                            </div>
                            <!-- /container -->
                        </div>
                        <!-- /input -->
                        <button class="ti-close" id="close" type="reset"></button>
                    </form> {% endcomment %}
                </div>
                <!-- /right-nav -->
            </div>
            <!-- navbar-header -->

            <div class="custom-collapse navbar-collapse collapse inner-nav">
                <ul class="nav navbar-nav">
                    {% assign menus = site.menus | sort: 'position' %}
                    {% for menu in menus  %}
                        <li><a class="scroll-to" href="{{ menu.lien }}">{{ menu.title }}</a></li>
                    {% endfor %}
                </ul>
                <!-- /nav -->
            </div>
            <!-- /collapse -->
        </div>
        <!-- /navbar -->
    </div>
    <!-- /container -->
</nav>
<!--/#Navigation-->