 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Revovision - Design the future</title>
    <meta name="description" content="Multipurpose HTML Theme">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FAVICON -->
    <link rel="shortcut icon" href="images/logo/favicon.png">

    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/animate.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/themify-icons.css" />
    <link rel="stylesheet" href="css/YTPlayer.css" />
    <link rel="stylesheet" href="css/owl.carousel.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="js/revolutionslider/css/settings.css" />
    <link rel="stylesheet" href="js/revolutionslider/css/navigation.css" />
    <link rel="stylesheet" href="css/responsive.css" />

   <!-- Particle css -->
    <style>
        .count-particles {
            background: #000022;
            position: absolute;
            top: 48px;
            left: 0;
            width: 80px;
            color: #13E8E9;
            font-size: .8em;
            text-align: left;
            text-indent: 4px;
            line-height: 14px;
            padding-bottom: 2px;
            font-family: Helvetica, Arial, sans-serif;
            font-weight: bold;
        }
        
        .js-count-particles {
            font-size: 1.1em;
        }
        
        #stats,
        .count-particles {
            -webkit-user-select: none;
            margin-top: 5px;
            margin-left: 5px;
        }
        
        #stats {
            border-radius: 3px 3px 0 0;
            overflow: hidden;
        }
        
        .count-particles {
            border-radius: 0 0 3px 3px;
        }
    </style>
    <!-- /Particle css -->
</head>


<body>

    <!-- Pageloader -->
   
    <!-- /Page-loader -->

    <!-- Screen Frame -->
    <div class="screen-frame">
        <div class="bar-top"></div>
        <div class="bar-btm"></div>
        <div class="bar-left"></div>
        <div class="bar-right"></div>
    </div>
    <!-- /screen frame -->

   <!-- Navigation -->
      <nav class="main-nav op-nav menu-light menu-transparent js-transparent">
          <div class="container">
              <div class="navbar">

                  <div class="brand-logo">
                      <a class="navbar-brand" href="#">
                          <img src="images/logo/logo.png" alt="Revovision">
                      </a>
                  </div>
                  <!-- brand-logo -->

                  <div class="navbar-header">
                      <div class="inner-nav right-nav">
                          <ul>
                              <li>
                                  <a href="#/" class="ti-search" id='search-trigger'></a>
                              </li>

                              <li class="navbar-toggle">
                                  <button type="button" data-toggle="collapse" data-target=".collapse">
                                      <span class="sr-only"></span>
                                      <i class="ti-menu"></i>
                                  </button>
                              </li>
                              <!-- /collapse-menu -->

                          </ul>
                          <form action='#' id='search' method='get'>
                              <div class="input">
                                  <div class="container">
                                      <input class="search" placeholder='Search...' type='text'>
                                      <button class="submit ti-search" type="submit" value="close"></button>
                                  </div>
                                  <!-- /container -->
                              </div>
                              <!-- /input -->
                              <button class="ti-close" id="close" type="reset"></button>
                          </form>
                      </div>
                      <!-- /right-nav -->
                  </div>
                  <!-- navbar-header -->

                  <div class="custom-collapse navbar-collapse collapse inner-nav">
                      <ul class="nav navbar-nav">
                          <li><a class="scroll-to" href="#home">Home</a></li>
                          <li><a class="scroll-to" href="#about">About</a></li>
                          <li><a class="scroll-to" href="#services">Services</a></li>
                          <li><a class="scroll-to" href="#portfolio">Portfolio</a></li>
                          <li><a class="scroll-to" href="#work-flow">Features</a></li>
                          <li><a class="scroll-to" href="#testimonial">testimonial</a></li>
                          <li><a class="scroll-to" href="#contact">contact</a></li>
                      </ul>
                      <!-- /nav -->
                  </div>
                  <!-- /collapse -->
              </div>
              <!-- /navbar -->
          </div>
          <!-- /container -->
      </nav>
      <!--/#Navigation-->

    <!-- Full Screen Image Parallax -->
    <header>
        <div id="home" class="fs-img-parallax parallax parallax-overlay-dark" style="background-image:url(images/background/arriere.jpg)">
            <div class="hero-caption caption-center caption-height-center container">
              <h2 class="hero-heading text-xform-none">REVOVISION</h2>
                <p class="hero-text-alt text-white">You come with the idea, we make it true.
                    </p>
                <a class="scroll-to btn btn-md btn-style-3 mrg-top-15" href="#about">Discover</a>
            </div>
            <!-- /hero-caption -->
            <div id="particles-js"></div>
        </div>
        <!-- /fs-img-parallax -->
    </header>
    <!--/#Full Screen Image Parallax -->

    <!-- About -->
    <section id="about" class="section">
    
        <div class="container">
            <div class="col-sm-6">
                <h2 class="heading-left">About Us</h2>
                <p class="sub-heading-left mrg-top-50 ">We’re Revovision</p>
                <p class="mrg-top-15 text-justify">We are innovating your ideas into reality.</p>
            </div>
            <!-- /column -->
            <div class="col-sm-6 mrg-top-70 pdd-horizon-50">
                <h5 class="progress-item">Web Development/SEO</h5>
                <div class="progress progress-thin">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                        <span>90%</span>
                    </div>
                    <!-- /progress-bar -->
                </div>
                <!-- /progress -->

                <h5 class="progress-item">Branding/Marketing</h5>
                <div class="progress progress-thin">
                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                        <span>85%</span>
                    </div>
                    <!-- /progress-bar -->
                </div>
                <!-- /progress -->

                <h5 class="progress-item">Design/Photography</h5>
                <div class="progress progress-thin">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                        <span>70%</span>
                    </div>
                    <!-- /progress-bar -->
                </div>
                <!-- /progress -->

            </div>
            <!-- /column -->
        </div>
        <!-- /container -->
    </section>
    <!-- /About -->
    <!-- services -->
       <section id="services" class="section bg-gray">
           <div class="container">
               <h2 class="heading">Our services</h2>
                          <p class="sub-heading">We Provide All Kind of Web Services</p>
               <div class="row">
                   <div class="owl-carousl owl-3-pag owl-pagi-1 pagi-center mrg-top-50">
                       <div class="infography item">
                           <div class="infography-style-4 bg-white">
                               <div class="inner-wrapper">
                                   <div class="infography-icon">
                                       <i class="ti-file"></i>
                                   </div>
                                   <!-- /infography-icon -->
                                   <h4 class="mrg-top-30">Web Development and Design</h4>
                                   <p class="mrg-top-15">At Revovision we not only conceptualize, but also design web sites for budding companies and E-commerce businesses alike. Our aim is to provide an in-house service where we create your website, optimize it’s design for maximum user traffic, and establish your web presence. This practical strategy will definitely give you the peace of mind and allow you to focus on your business’s main goals.</p>
                               </div>
                               <!-- /inner-wrapper -->
                           </div>
                           <!-- /infography-style-4 -->
                       </div>
                       <!-- /infography -->

                       <div class="infography item">
                           <div class="infography-style-4 bg-white">
                               <div class="inner-wrapper">
                                   <div class="infography-icon">
                                       <i class="ti-android"></i>
                                   </div>
                                   <!-- /infography-icon -->
                                   <h4 class="mrg-top-30">Branding/Marketing</h4>
                                   <p class="mrg-top-15">Our personalized solutions ensure that your company’s online design embodies what it does and what it stands for without having to convey too much information. The various colours, text styles, and designs we use are customized for you. This will allow your company to have a founded web presence as well as create a recognizable brand from first-use.</p>
                               </div>
                               <!-- /inner-wrapper -->
                           </div>
                           <!-- /infography-style-4 -->
                       </div>
                       <!-- /infography -->

                       <div class="infography item">
                           <div class="infography-style-4 bg-white">
                               <div class="inner-wrapper">
                                   <div class="infography-icon">
                                       <i class="ti-bar-chart-alt"></i>
                                   </div>
                                   <!-- /infography-icon -->
                                   <h4 class="mrg-top-30">SEO</h4>
                                   <p class="mrg-top-15">Search Engine Optimization  much know by his acronym SEO is a strategy that we implement in your website’s design. Revovision structures websites for optimal web visibility on all major search engine as Google. This feature will ensure that your business’s website will advertise itself as much as possible with minimal effort, thus reducing costs through efficiency.</p>
                               </div>
                               <!-- /inner-wrapper -->
                           </div>
                           <!-- /infography-style-4 -->
                       </div>
                       <!-- /infography -->

                       <!---->
                       <div class="infography item">
                           <div class="infography-style-4 bg-white">
                               <div class="inner-wrapper">
                                   <div class="infography-icon">
                                       <i class="ti-ruler-alt-2"></i>
                                   </div>
                                   <!-- /infography-icon -->
                                   <h4 class="mrg-top-30">Multimedia</h4>
                                   <p class="mrg-top-15">Revovision has also conceptualized and designed two platforms that showcase Senegalese talent for both music and visual mediain order to give greater visibility to the artists. Thereare no other websites that have re-assembled and organized in an orderly fashion Senegalese television shows and music to optimizing user experience.</p>
                               </div>
                               <!-- /inner-wrapper -->
                           </div>
                           <!-- /infography-style-4 -->
                       </div>
                       <!-- /infography --

                       <div class="infography item">
                           <div class="infography-style-4 bg-white">
                               <div class="inner-wrapper">
                                   <div class="infography-icon">
                                       <i class="ti-thought"></i>
                                   </div>
                                   <!-- /infography-icon --
                                   <h4 class="mrg-top-30">Animation</h4>
                                   <p class="mrg-top-15">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus ligula semper, get tincidunt nibh pulvinar onec rutrum congue blandit aliquet</p>
                               </div>
                               <!-- /inner-wrapper --
                           </div>
                           <!-- /infography-style-4 --
                       </div>
                       <!-- /infography --

                       <div class="infography item">
                           <div class="infography-style-4 bg-white">
                               <div class="inner-wrapper">
                                   <div class="infography-icon">
                                       <i class="ti-server"></i>
                                   </div>
                                   <!-- /infography-icon --
                                   <h4 class="mrg-top-30">SEO</h4>
                                   <p class="mrg-top-15">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus ligula semper, get tincidunt nibh pulvinar onec rutrum congue blandit aliquet</p>
                               </div>
                               <!-- /inner-wrapper --
                           </div>
                           <!-- /infography-style-4 --
                       </div>
                       <!-- /infography --

                       <div class="infography item">
                           <div class="infography-style-4 bg-white">
                               <div class="inner-wrapper">
                                   <div class="infography-icon">
                                       <i class="ti-pencil"></i>
                                   </div>
                                   <!-- /infography-icon -
                                   <h4 class="mrg-top-30">Graphic Design</h4>
                                   <p class="mrg-top-15">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus ligula semper, get tincidunt nibh pulvinar onec rutrum congue blandit aliquet</p>
                               </div>
                               <!-- /inner-wrapper 
                           </div>
                           <!-- /infography-style-4 
                       </div>
                       <!-- /infography -->

                   </div>
                   <!-- owl-3-item -->
               </div>
               <!-- /row -->
           </div>
           <!-- /container -->
       </section>
       <!-- /#Services -->
    <!-- /Services -->

    
    
   
    <!-- Features -->
    <section id="features" class="section">
        <div class="container">
            <h2 class="heading">We Are Revovision</h2>
            <p class="sub-heading">Coding and design is our passion. </p>
           <!-- <p class="text-center mrg-top-50 width-80 mrg-horizon-auto">Adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Curabitur vel massa lectus. Vivamus consequat dolor non tellus imperdiet pharetra suscipit ante at ullamcorper pulvinar neque porttitor.</p>-->

            <div class="features-1 mrg-top-70">
                <ul class="nav nav-tabs">
                    <li class="col-md-3 col-sm-6 col-xs-12 active features-menu">
                        <a data-toggle="tab" href="#1">
                            <i class="ti-desktop"></i>
                            <h4 class="mrg-top-35">Responsive</h4>
                        </a>
                        <!-- /tab -->
                    </li>
                    <!-- /column -->

                    <li class="col-md-3 col-sm-6 col-xs-12 features-menu ">
                        <a data-toggle="tab" href="#2">
                            <i class="ti-anchor"></i>
                            <h4 class="mrg-top-35">Ultra flexible</h4>
                        </a>
                        <!-- /tab -->
                    </li>
                    <!-- /column -->

                    <li class="col-md-3 col-sm-6 col-xs-12 features-menu">
                        <a data-toggle="tab" href="#3">
                            <i class="ti-ruler-alt-2"></i>
                            <h4 class="mrg-top-35">Clean & Neat</h4>
                        </a>
                        <!-- /tab -->
                    </li>
                    <!-- /column -->

                    <li class="col-md-3 col-sm-6 col-xs-12 features-menu">
                        <a data-toggle="tab" href="#4">
                            <i class=" ti-light-bulb"></i>
                            <h4 class="mrg-top-35">Easy to Customize</h4>
                        </a>
                        <!-- /tab -->
                    </li>
                    <!-- /column -->
                </ul>
                <div class="tab-content">
                    <div id="1" class="tab-pane fade in active">
                        <img class="img-responsive pdd-top-50" src="images/background/mockup-5.png" alt="">
                    </div>
                    <!-- /tab-pane -->

                    <div id="2" class="tab-pane fade">
                        <img class="img-responsive mrg-horizon-auto pdd-top-50" src="images/background/mockup-6.png" alt="">
                    </div>
                    <!-- /tab-pane -->

                    <div id="3" class="tab-pane fade">
                        <img class="img-responsive mrg-horizon-auto pdd-top-50" src="images/background/mockup-7.png" alt="">
                    </div>
                    <!-- /tab-pane -->

                    <div id="4" class="tab-pane fade">
                        <img class="img-responsive mrg-horizon-auto pdd-top-50" src="images/background/mockup-8.png" alt="">
                    </div>
                    <!-- /tab-pane -->
                </div>
                <!-- Tab -->
            </div>
            <!-- feature -->

        </div>
        <!-- /container -->
    </section>
    <!-- /#Features -->

   
   

  

    <!-- Work Flow -->
    <section id="work-flow" class="section bg-gray">
        <div class="container">
            <h2 class="heading">How We Works</h2>
            <p class="mrg-top-70 text-center">From designing websites for established companies and e-commerce businesses alike, to developing, and implementing information systems<br/> Revovision meets every available need geared towards the establishment of a web presence.</p>

            <div class="work-flow-1 mrg-top-70">

                <div class="right ">
                    <div class="col-sm-6">
                        <img class="img-responsive" src="images/background/wf-bg-1.jpg" alt="">
                    </div>
                    <!-- /column -->

                    <div class="col-sm-6">
                        <div class="work-flow-content">
                            <h1 class="process">01</h1>
                            <h4>Design</h4>
                            <p class="mrg-top-30">First of all, we coordonate with the client in order to find the adequate design for the website and we optimise it for a maximum user traffic .</p>
                        </div>
                        <!-- / work-flow-content -->
                    </div>
                    <!-- /column -->
                </div>
                <!-- /right -->

                <div class="left">
                    <div class="col-sm-6">
                        <div class="work-flow-content">
                            <h1 class="process">02</h1>
                            <h4>Develope</h4>
                            <p class="mrg-top-30">Our aim is to provide an in-house service where we create your website, optimize it’s design for maximum user traffic, and establish your web presence.</p>
                        </div>
                        <!-- / work-flow-content -->
                    </div>
                    <!-- /column -->

                    <div class="col-sm-6">
                        <img class="img-responsive" src="images/background/wf-bg-2.jpg" alt="">
                    </div>
                    <!-- /column -->
                </div>
                <!-- /left -->

                <div class="right ">
                    <div class="col-sm-6">
                        <img class="img-responsive" src="images/background/wf-bg-3.jpg" alt="">
                    </div>
                    <!-- /column -->

                    <div class="col-sm-6">
                        <div class="work-flow-content">
                            <h1 class="process">03</h1>
                            <h4>Launch</h4>
                            <p class="mrg-top-30">After every task completed and all requierements meeted, we launch the website </p>
                        </div>
                        <!-- / work-flow-content -->
                    </div>
                    <!-- /column -->
                </div>
                <!-- /right -->

            </div>
            <!-- /work-flow-1 -->
        </div>
       <!-- /container -->
    </section>
    <!-- /#work-flow -->


     <!-- Portfolio -->
    <section id="portfolio" class="section">
        <div class="container">
            <h2 class="heading">Works</h2>
            <!-- <p class="sub-heading">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>-->

            <div class="portfolio-filter-group text-center folio-fillter-2 mrg-top-50 mrg-btm-30">
                <a href="#" data-filter="*" class="iso-active iso-button ">All</a>
                <a href="#" data-filter=".graphic" class="iso-button">Corporate</a>
                <a href="#" data-filter=".web" class="iso-button">Web Platforms</a>
                <a href="#" data-filter=".branding" class="iso-button">E-Commerce</a>
                <a href="#" data-filter=".video" class="iso-button">Design</a>
            </div>
            <!-- portfolio-filter -->

            <div class="portfolio portfolio-isotope masonry col-3 gutter mrg-top-50">
                <div class="folio-item video web branding">
                    <div class="folio-style-1">
                        <div class="folio-image">
                            <img class="img-responsive" src="images/portfolio/1.jpg" alt="">
                        </div>
                        <!-- folio-image -->
                        <div class="overlay">
                            <div class="overlay-caption">
                                <div class="overlay-content">
                                    <div class="folio-info">
                                        <h3 class="text-white">Project Name</h3>
                                        <p>Lorem ipsum dolor sit amet</p>
                                    </div>
                                    <!-- /folio-info -->
                                    <div class="folio-links">
                                        <a href="#"><i class="ti-search"></i></a>
                                        <a href="#"><i class="ti-link"></i></a>
                                    </div>
                                    <!-- folio-links -->
                                </div>
                                <!-- /overlay-content -->
                            </div>
                            <!-- /overlay-caption -->
                        </div>
                        <!-- /overlay -->
                    </div>
                    <!-- /folio-style -->
                </div>
                <!-- /folio-item -->

                <div class="folio-item video graphic">
                    <div class="folio-style-1">
                        <div class="folio-image">
                            <img class="img-responsive" src="images/portfolio/2.jpg" alt="">
                        </div>
                        <!-- folio-image -->
                        <div class="overlay">
                            <div class="overlay-caption">
                                <div class="overlay-content">
                                    <div class="folio-info">
                                        <h3 class="text-white">Project Name</h3>
                                        <p>Lorem ipsum dolor sit amet</p>
                                    </div>
                                    <!-- /folio-info -->
                                    <div class="folio-links">
                                        <a href="#"><i class="ti-search"></i></a>
                                        <a href="#"><i class="ti-link"></i></a>
                                    </div>
                                    <!-- folio-links -->
                                </div>
                                <!-- /overlay-content -->
                            </div>
                            <!-- /overlay-caption -->
                        </div>
                        <!-- /overlay -->
                    </div>
                    <!-- /folio-style -->
                </div>
                <!-- /folio-item -->

                <div class="folio-item web graphic">
                    <div class="folio-style-1">
                        <div class="folio-image">
                            <img class="img-responsive" src="images/portfolio/tall-1.jpg" alt="">
                        </div>
                        <!-- folio-image -->
                        <div class="overlay">
                            <div class="overlay-caption">
                                <div class="overlay-content">
                                    <div class="folio-info">
                                        <h3 class="text-white">Project Name</h3>
                                        <p>Lorem ipsum dolor sit amet</p>
                                    </div>
                                    <!-- /folio-info -->
                                    <div class="folio-links">
                                        <a href="#"><i class="ti-search"></i></a>
                                        <a href="#"><i class="ti-link"></i></a>
                                    </div>
                                    <!-- folio-links -->
                                </div>
                                <!-- /overlay-content -->
                            </div>
                            <!-- /overlay-caption -->
                        </div>
                        <!-- /overlay -->
                    </div>
                    <!-- /folio-style -->
                </div>
                <!-- /folio-item -->

                <div class="folio-item video branding">
                    <div class="folio-style-1">
                        <div class="folio-image">
                            <img class="img-responsive" src="images/portfolio/4-tall.jpg" alt="">
                        </div>
                        <!-- folio-image -->
                        <div class="overlay">
                            <div class="overlay-caption">
                                <div class="overlay-content">
                                    <div class="folio-info">
                                        <h3 class="text-white">Project Name</h3>
                                        <p>Lorem ipsum dolor sit amet</p>
                                    </div>
                                    <!-- /folio-info -->
                                    <div class="folio-links">
                                        <a href="#"><i class="ti-search"></i></a>
                                        <a href="#"><i class="ti-link"></i></a>
                                    </div>
                                    <!-- folio-links -->
                                </div>
                                <!-- /overlay-content -->
                            </div>
                            <!-- /overlay-caption -->
                        </div>
                        <!-- /overlay -->
                    </div>
                    <!-- /folio-style -->
                </div>
                <!-- /folio-item -->

                <div class="folio-item branding graphic">
                    <div class="folio-style-1">
                        <div class="folio-image">
                            <img class="img-responsive" src="images/portfolio/5.jpg" alt="">
                        </div>
                        <!-- folio-image -->
                        <div class="overlay">
                            <div class="overlay-caption">
                                <div class="overlay-content">
                                    <div class="folio-info">
                                        <h3 class="text-white">Project Name</h3>
                                        <p>Lorem ipsum dolor sit amet</p>
                                    </div>
                                    <!-- /folio-info -->
                                    <div class="folio-links">
                                        <a href="#"><i class="ti-search"></i></a>
                                        <a href="#"><i class="ti-link"></i></a>
                                    </div>
                                    <!-- folio-links -->
                                </div>
                                <!-- /overlay-content -->
                            </div>
                            <!-- /overlay-caption -->
                        </div>
                        <!-- /overlay -->
                    </div>
                    <!-- /folio-style -->
                </div>
                <!-- /folio-item -->

                <div class="folio-item web branding">
                    <div class="folio-style-1">
                        <div class="folio-image">
                            <img class="img-responsive" src="images/portfolio/6.jpg" alt="">
                        </div>
                        <!-- folio-image -->
                        <div class="overlay">
                            <div class="overlay-caption">
                                <div class="overlay-content">
                                    <div class="folio-info">
                                        <h3 class="text-white">Project Name</h3>
                                        <p>Lorem ipsum dolor sit amet</p>
                                    </div>
                                    <!-- /folio-info -->
                                    <div class="folio-links">
                                        <a href="#"><i class="ti-search"></i></a>
                                        <a href="#"><i class="ti-link"></i></a>
                                    </div>
                                    <!-- folio-links -->
                                </div>
                                <!-- /overlay-content -->
                            </div>
                            <!-- /overlay-caption -->
                        </div>
                        <!-- /overlay -->
                    </div>
                    <!-- /folio-style -->
                </div>
                <!-- /folio-item -->

                <div class="folio-item web">
                    <div class="folio-style-1">
                        <div class="folio-image">
                            <img class="img-responsive" src="images/portfolio/3.jpg" alt="">
                        </div>
                        <!-- folio-image -->
                        <div class="overlay">
                            <div class="overlay-caption">
                                <div class="overlay-content">
                                    <div class="folio-info">
                                        <h3 class="text-white">Project Name</h3>
                                        <p>Lorem ipsum dolor sit amet</p>
                                    </div>
                                    <!-- /folio-info -->
                                    <div class="folio-links">
                                        <a href="#"><i class="ti-search"></i></a>
                                        <a href="#"><i class="ti-link"></i></a>
                                    </div>
                                    <!-- folio-links -->
                                </div>
                                <!-- /overlay-content -->
                            </div>
                            <!-- /overlay-caption -->
                        </div>
                        <!-- /overlay -->
                    </div>
                    <!-- /folio-style -->
                </div>
                <!-- /folio-item -->

            </div>
            <!-- /portfolio -->
        </div>
        <!-- /container -->
    </section>
    <!-- /#Portfolio -->


    <!-- Testimonial -->
    <section id="testimonial" class="section-3 bg-gray">
        <div class="container">
            
            <h2 class="heading">Message From Clients</h2>

            <div class="owl-carousel owl-single-all owl-pagi-1 owl-nav-1 pagi-center owl testimonial-1 mrg-top-50">
                <div class="item text-center">
                    <div class="person">
                        <div class="person-image">
                            <img class="img-responsive" src="images/thumb/testimonial-1.jpg" alt="">
                        </div>
                        <!-- /person-image -->
                    </div>
                    <!--/person -->

                    <p>
                        <i class="ti-quote-left pdd-horizon-15"></i> Sed viverra diam ac metus tincidunt, sollicitudin dictum arcu feugiat. eget malesuada imperdiet. Nunc erat diam, aliquam vel varius in, sagittis a urna. Etiam in fermentum dui. Lorem ipsum dolor sit amet. Suspendisse velit libero.
                        <i class="ti-quote-right pdd-horizon-15"></i>
                    </p>
                    <h5 class="person mrg-top-30">Jack Sparrow - Company.inc</h5>
                </div>
                <!-- /item -->

                <div class="item text-center">
                    <div class="person">
                        <div class="person-image">
                            <img class="img-responsive" src="images/thumb/testimonial-2.jpg" alt="">
                        </div>
                        <!-- /person-image -->
                    </div>
                    <!--/person -->

                    <p>
                        <i class="ti-quote-left pdd-horizon-15"></i> Sed viverra diam ac metus tincidunt, sollicitudin dictum arcu feugiat. eget malesuada imperdiet. Nunc erat diam, aliquam vel varius in, sagittis a urna. Etiam in fermentum dui. Lorem ipsum dolor sit amet. Suspendisse velit libero.
                        <i class="ti-quote-right pdd-horizon-15"></i>
                    </p>
                    <h5 class="person mrg-top-30">Jack Sparrow - Company.inc</h5>
                </div>
                <!-- /item -->

                <div class="item text-center">
                    <div class="person">
                        <div class="person-image">
                            <img class="img-responsive" src="images/thumb/testimonial-3.jpg" alt="">
                        </div>
                        <!-- /person-image -->
                    </div>
                    <!--/person -->

                    <p>
                        <i class="ti-quote-left pdd-horizon-15"></i> Sed viverra diam ac metus tincidunt, sollicitudin dictum arcu feugiat. eget malesuada imperdiet. Nunc erat diam, aliquam vel varius in, sagittis a urna. Etiam in fermentum dui. Lorem ipsum dolor sit amet. Suspendisse velit libero.
                        <i class="ti-quote-right pdd-horizon-15"></i>
                    </p>
                    <h5 class="person mrg-top-30">Jack Sparrow - Company.inc</h5>
                </div>
                <!-- /item -->

            </div>
            <!-- /testimonial-1 -->

        </div>
        <!-- /container -->
    </section>
    <!-- /testimonial -->

    <!-- Clients -
    <section id="clients" class="pdd-vertical-50">
        <div class="container">
            <div class="owl-5 owl-carousel clients-1">

                <div class="item"><img class="img-responsive" src="images/client/1.png" alt=""></div>
                <div class="item"><img class="img-responsive" src="images/client/2.png" alt=""></div>
                <div class="item"><img class="img-responsive" src="images/client/3.png" alt=""></div>
                <div class="item"><img class="img-responsive" src="images/client/4.png" alt=""></div>
                <div class="item"><img class="img-responsive" src="images/client/5.png" alt=""></div>
                <div class="item"><img class="img-responsive" src="images/client/6.png" alt=""></div>

            </div>
            <!-- clients-1 -
        </div>
    </section>
        <!-- container --
    <!-- /#Clients -->


   <!-- Call To Action -->
       <section id="cta" class="section-3 parallax no-border" style="background-image:url(images/background/img-parallax-9.jpg)">
           <div class="container">
               <div class="col-sm-9">
                   <p class="droid-serif-italic ls-1-5 text-gray">Do You Like Our Work?</p>
                   <h3 class="ls-5 text-white">Start your Project with Revovision</h3>
               </div>
               <!-- /column -->

               <div class="col-sm-3">
                   <a href="#footer" class="btn btn-lg btn-style-3 mrg-top-25">Contact us</a>
               </div>
               <!-- /column -->

           </div>
           <!-- /#container -->
       </section>
       <!-- /#Call to Action -->

       

       <footer id="footer" class="bg-dark pdd-btm-30">
        <div class="container section">
             <div class="col-md-4 col-sm-12">
                   <div class="widget">
                       <div class="more-about-us-widget">
                           <img class="img-responsive" src="images/logo/logo.png" alt="">
                           <p class="mrg-vertical-15">You come with the idea, we take care of the rest. Make a try, contact us!!!</p>

                           <div class="contact-info-widget mrg-top-30">
                               <ul>
                                   <li><i class="ti-map"></i>Montreal, QC CANADA</li>
                                   <li><i class="ti-mobile"></i>+1 438 349 1758</li>
                                   <li><i class="ti-email"></i><a href="mailto:gabriel@revovision.
                                   ca">support@revovision.ca</a></li>
                                   <li><i class="ti-world"></i><a href="#">www.revovision.ca</a></li>
                               </ul>
                           </div>
                           <!-- /contact-inform-widget -->

                       </div>
                       <!-- /more-about-us-widget -->
                   </div>
                   <!-- /widget -->
               </div>
               <!-- /column -->

               <div class="col-md-8 col-sm-12">
                   <div class="widget">
                       <div class="widget-tittle">
                           <h4>Contact Form</h4>
                       </div>
                       <!-- widget-tittle -->

                       <div class="contact-form-widget mrg-top-30">
                           <form class="contact-form-wrapper row" name="contactForm" id="contact_form" method="post" action="php/email.php">
                               <div class="form-inside">
                                   <div class="form-group col-sm-6">
                                       <input type="text" class="form-control" name="name" id="exampleInputName" placeholder="Name">
                                   </div>
                                   <!-- /form-group -->

                                   <div class="form-group col-sm-6">
                                       <input type="email" class="form-control" name="email" id="exampleInputEmail" placeholder="Email">
                                   </div>
                                   <!-- /form-group -->

                                   <div class="form-group col-sm-12">
                                       <input type="text" class="form-control" name="subject" id="exampleInputSubject" placeholder="Subject">
                                   </div>
                                   <!-- /form-group -->

                                   <div class="form-group col-sm-12">
                                       <textarea class="form-control" name="message" rows="3" id="exampleInputMessage" placeholder="Message"></textarea>
                                   </div>
                                   <!-- /form-group -->
                               </div>
                               <!-- /form-inside -->

                               <div class="form-group col-xs-12">
                                   <div id="mail_success" class="success" style="display:none;">
                                       Thank You ! Your email has been delivered.
                                   </div>
                                   <!-- /mail_success -->
                                   <div id="mail_fail" class="error" style="display:none;">
                                       An error occured, please try again later !
                                   </div>
                                   <!-- /mail_error -->
                               </div>
                               <!-- /form-group -->

                               <div class="form-group col-sm-12" id="submit">
                                   <input class="btn btn-lg footer-contact-btn pull-right" type="submit" id="send_message" value="Send Message">
                               </div>
                               <!-- /form-group -->
                           </form>
                       </div>
                       <!-- tag-widget -->
                   </div>
                   <!-- /widget -->
               </div>
               <!-- /column -->

        </div>
        <!-- /container -->

        <div class="footer-bottom">
            <div class="container">
                <small class="copyright pull-left">© 2016 ALL RIGHT RESERVED. DESIGNED BY <a href="#">REVOVISION</a>.</small>
                <div class="social-icon pull-right">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-google"></i></a>
                    <a href="#"><i class="fa fa-rss"></i></a>
                    <a href="#"><i class="fa fa-globe"></i></a>
                </div>
                <!-- /social-icon -->
            </div>
            <!-- /container -->
        </div>
        <!-- footer-bottom -->
    </footer>
    <!-- Back to top -->
    <a href="#" id="back-to-top" title="Back to top"><i class="ti-angle-up"></i></a>
    <!-- /Back to top -->


 <!-- Java Script -->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="js/jquery.mb.YTPlayer.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript" src="js/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="js/jquery.countTo.js"></script>
    <script type="text/javascript" src="js/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="js/jquery.appear.js"></script>
    <script type="text/javascript" src="js/smoothscroll.js"></script>
    <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
    <!-- particleground -->
    <script type="text/javascript" src="js/jquery.particleground.js"></script>
    <script>
        particlesJS("particles-js", {
        "particles": {
        "number": {
          "value":43, "density": {
            "enable": true, "value_area": 500
          }
        }
        , "color": {
          "value": "#ffffff"
        }
        , "shape": {
          "type":"circle", "stroke": {
            "width": 0, "color": "#070707"
          }
          , "polygon": {
            "nb_sides": 4
          }
          , "image": {
            "src": "img/github.svg", "width": 100, "height": 100
          }
        }
        , "opacity": {
          "value":0.5, "random":false, "anim": {
            "enable": false, "speed": 1, "opacity_min": 0.1, "sync": false
          }
        }
        , "size": {
          "value":2, "random":false, "anim": {
            "enable": false, "speed": 40, "size_min": 0.1, "sync": false
          }
        }
        , "line_linked": {
          "enable": true, "distance": 126.26362266116361, "color": "#ffffff", "opacity": 0.4, "width": 1
        }
        , "move": {
          "enable":true, "speed":3, "direction":"none", "random":true, "straight":false, "out_mode":"out", "bounce":false, "attract": {
            "enable": true, "rotateX": 600, "rotateY": 1200
          }
        }
      }
      , "interactivity": {
        "detect_on":"canvas", "events": {
          "onhover": {
            "enable": true, "mode": "grab"
          }
          , "onclick": {
            "enable": true, "mode": "push"
          }
          , "resize":true
        }
        , "modes": {
          "grab": {
            "distance":133.99274002972194, "line_linked": {
              "opacity": 0.5261837109713353
            }
          }
          , "bubble": {
            "distance": 400, "size": 40, "duration": 2, "opacity": 8, "speed": 3
          }
          , "repulse": {
            "distance": 200, "duration": 0.4
          }
          , "push": {
            "particles_nb": 4
          }
          , "remove": {
            "particles_nb": 2
          }
        }
      }
      , "retina_detect":true
    }
    
    );
    </script>
    <!-- /particleground -->
    <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="js/google-map.js"></script>
    <script type="text/javascript" src="js/email.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
   
</body>

</html>